:root{
  --color-azul: #223CFC;
  --color-verde: #4DB49A;
  --color-celeste: #EAF8F9;
  --color-turqueza: #EBF9F2;
  --color-gris: #F2F2FA;
  --color-azul-claro: #f5f7fc;
  --color-rojo: #EA0126;
  --color-text: #4c6176;
}

html,
body {
  padding: 0;
  background-color: var(--color-azul-claro);
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

