.header{
  background-color: var(--color-azul);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightMenu{
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.navbar{
  text-transform: uppercase;
}

.logo{
  margin-left: 20px;
}

.navbar ul li{
  list-style: none;
  font-size: .8rem;
}

.navbar ul li a{
  margin: 0 20px;
  padding-bottom: 10px;
  transition: all 200ms;
}

.navbar ul li a:hover{
  border-bottom: 3px solid #ffffff;
}

.buttonLanguage{
  padding: 10px 20px;
  background-color: #ffffff;
  color: var(--color-azul);
  border-radius: 10px;
  font-size: .85rem;
}

.caretDown {
  width: 0;
  height: 0;
  display: inline-block;
  border: 6px solid transparent;
  border-top-color: var(--color-azul);
  margin-left: 6px;
  margin-bottom: -3px;
}

.main{
  max-width: 800px;
  margin: 0 auto;
}

.search{
  margin: 40px 0;  
  display: flex;
  justify-content: space-between;
}

.hr{
  height: 40px;
  box-shadow: 0px 3px 5px var(--color-gris);
}

.containerSearchButton{
  display: flex;
  position: relative;
  margin-right: 20px;
  flex:80%
}

.imageLocation{
  position: absolute;
  left: 10px;
  top: 10px;
}

.searchInput{
  padding: 10px 40px;
  background-color: #ffffff;
  border-radius: 10px 0 0 10px;
  border: 3px solid var(--color-gris);
  border-right: none;
  box-shadow: 0px 2px 3px var(--color-gris);
  width: 100%;
}

.searchButton{
  background-color: var(--color-azul);
  color: #ffffff;
  border: none;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 2px 3px var(--color-gris);
  padding: 6px 12px;
}



.button{
  background-color: var(--color-verde);
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 150px;
  font-size: .87rem;
  text-align: center;
}

.containerCards{
  margin: 20px 0;
}

.timeAgo{
  font-size: .8rem;
  margin: 20px 0;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px
}

.card{
  background-color: #ffffff;
  box-shadow: 5px 5px 1px var(--color-gris);
  padding: 10px 15px;
  color: var(--color-text);
  display: flex;
}

/* .cardText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.cardTitle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cardTitle h5{
  margin: 0;
  font-size: .9rem;
}

.cardTitle img{
  margin-right: 5px;
}

.cardDescripcion{
  margin: 10px 0;
}

.cardDescripcion p{
  margin: 0;
}

.cardDescripcion p:nth-child(1){
  font-size: 1.5rem;
  font-weight: bold;
}

.cardArrow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardArrow{
  color: var(--color-azul);
  font-size: .8rem;
}

.charts{
  background-color: #ffffff;
  padding: 20px;
}

.containerOptions{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.option{
  display: flex;
  flex-direction: column;
  background-color: var(--color-celeste);
  border-radius: 5px;
  box-shadow: 6px 6px 6px var(--color-gris);
  align-items: center;
  padding: 10px;
  color: var(--color-text);
  transition: all 600ms;
  cursor: pointer;
}

.option:hover{
  background-color: var(--color-gris);
}

.option span{
  margin-top: 10px;
  font-weight: bold;
}

.containerCharts{
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px
}

.containerCharts>div{
  height: 400px;
}

.chat{
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.chat{
  box-shadow: 0 2px 1px var(--color-gris); 
}

.chatWindow{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatHeader{
  background-color: var(--color-azul);
  color: #ffffff;
}

@media (max-width: 600px) {
  
}
