.containerChart{
    border: 1px solid var(--color-gris);
    padding: 50px 20px;
    text-align: center;
}

.containerChart h4{
    margin: 0;
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--color-text);
}