.main{
    max-width: 800px;
    margin: 0 auto;
}

.tracking{
    margin-top: 20px;
    font-size: .8rem;
}

.tracking span{
    margin-left: 3px;
}

.tracking span:nth-child(3){
    font-weight: bold;
}

.titulo{
    color: var(--color-azul);
}

.containerSemaforo{
    display: flex;
    justify-content: space-between;
}

.mapa{
    width: 100%;
}

.selector{
    background-color: #ffffff;
    color: var(--color-text);
    padding: 16px 26px;
    border-radius: 4px;
  box-shadow: 5px 5px 1px var(--color-gris);
    
}

.selector select{
    padding: 7px 10px;
    border-radius: 4px;
}

.circle{
    height: 26px;
    width: 26px;
    border-radius: 500%;
    display: inline-block;
    background-color: yellow;
    margin-right: 7px;
}

.status{
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.card{
    margin-top: 20px;
    border: 1px solid var(--color-rojo);
    overflow: hidden;
    border-radius: 5px;
}

.cardHeader{
    background-color: var(--color-rojo);
    color: #ffffff;
    display: flex;
    padding-left: 20px;
}

.cardBody{
    padding: 20px;
    color: var(--color-text);
    font-size: .8rem;
}

.headerVerde{
    background-color: var(--color-verde);
}

.verde{
    border: 1px solid var(--color-verde);
}